#weird mac files
.DS_Store
*/.~$eeney_thesis_f2020.docx/**

#notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/**

# data 
data/* 

# ignore 
ignore/*

# pycache 
__pycache__/*

#matlab files
*.m
*/baldocchi_matlab/*
